h1 {
    color: orange;
}

label {
    padding: 0 4px;
    background-color: white;
    position: absolute;
    top: 16px;
    left: 8px;
}

section.input {
    position: relative;
    display: grid;
    width: fit-content;
    place-items: start;
}

.validator {
    right: 8px;
}

input:user-invalid {
    background-color: red;
}
